{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">
    {% include "dashboard/header.html" %}

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    {% include "dashboard/nav.html"%}

    {% block content %} 
    {% endblock content %}

    {% include "dashboard/footer.html"%} 
</body>

</html>